.navbar-header{
    margin-left: 62px;
}
.nav{
    margin-right: 113px;
}
.container-fluid{
    padding: 0px;
    background-color: #4267B2
}
.navbar{
    min-height: 51px;
    margin-top: -8px;
    height: 47px;
    background-color: #4267B2;
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-brand{
    padding: 11px 5px !important;
}

nav{
    background-color: #4267B2;
    margin-top: -4px;
    border-radius: none;
}

* {
    box-sizing: border-box;
}

form.search input[type=text] {
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 393px;
    background: #f1f1f1;
    border-right: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 2px 6px;
}

.search{
    margin-top: 14px;
}

form.search button {
    width: 43px;
    float: left;
    color: gray;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    padding: 2px 2px;
}

form.search button:hover {
    background: #ccd0d5;
}
.navbar-nav li .navtext{
    color: white !important;
    font-size: 12px;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 12px;
}
.navicons{
    padding-top: 18px !important;
    padding-bottom: 0px !important;
}
.caret{
    color: black;
}

 /*Navbar Right Icons*/
.fa-facebook-messenger{
    font-size: 16px;
    color: black !important;
}
.fa-bell{
    font-size: 16px;
    color: black !important;
}
.fa-user-friends{
    font-size: 16px;
    color: black !important;
}
.fa-question-circle{
    font-size: 16px;
    color: black !important;
}







.col-posts{
    border: 1px solid darkgray;
    border-radius: 4px;
}
.col-posts ul{
    margin: 0;
    list-style-type: none;
    padding: 0;

}
.col-posts ul li{
        padding-left: 41px;
    color: gray;
    float: left;
    padding-right: 8px;
    font-size: 13px;
    border-bottom: 1px solid darkgray;
    padding-bottom: 9px;
    padding-top: 7px;
}
.post-input input{
    width: 100%;
    
    border: none;
    padding-bottom: 58px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.post-img{
    margin-bottom: 3px;
    border-top: 1px solid darkgray;
    padding: 3px;
}
.post-button{
    border-top: 1px solid darkgray;
    padding: 5px;
}




.old_image img{
    max-width: 456px;
}


.fa-thumbs-up {
    font-size: 25px !important;
    cursor: pointer;
    user-select: none;
}

.shown_data{
    border: 1px solid darkgray;
    margin-top: 75px;
}
.posts-content{
    margin-top: 4px;
    margin-left: 6px;
}
.post-name{
    width: 85%;
}
.post-icon{
    margin-right: 60px;
}

.show-posts{
    margin-top: 75px !important;
}
.post-inf{
    margin-top: 5px;
    margin-bottom: 5px;
}

.like-btn{
    margin-left: 11px;
}
.comment-system{
    margin-top: 5px;
    margin-bottom: 5px; 
}
.comment{
    width: 70%;
    border-radius: 9px;
    margin-top: 10px;
    margin-left: 32px;
    margin-bottom: 7px;
}
.comm{
   
    border-top: 1px solid gray;
}
.show-comments{
    border-top: 1px solid gray;
}